name: Release Trigger

on:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      actions:
        description: "Pre-release action"
        required: true
        type: choice
        options:
          - enter-and-publish
          - exit

permissions:
  id-token: write
  contents: write
  pull-requests: write

jobs:
  release:
    if: github.event_name == 'push'
    uses: ./.github/workflows/release.yml

  pre-release:
    if: github.event_name == 'workflow_dispatch'
    uses: ./.github/workflows/pre-release.yml
    with:
      actions: ${{ inputs.actions }}